.option {
  width: 80%;
  padding: 10px;
}
.input {
  width: 100%;
  padding: 10px;
}
.img_container {
  background: #87ceeb;
  /* padding:10px; */
}
.title_segment {
  background-color: #5a9196;
}
.option_container {
  border: 2px solid skyblue;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.btn_container {
  background-color: #f2f2f2;
  padding: 15px;
}
.Addschema,
.Added_schema {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.Traits_group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}
